/* Filters */
#followers-filter-tab {
    width: 200px!important;
}

#footer {
    font-size: 10px;
}

.result-number {
    background-color: #f3f3f3;
    max-width: 150px;
    border-radius: 20px;
    margin: auto;
}

/* Table styling */
.row-align-middle {
    vertical-align: middle!important;
}

.row-height {
    height: 25px;
    max-height: 20px;
}

/* Save to CSV Button */
.save_to_csv_btn {
    transition: all 0.2s ease-in-out;
    position: fixed;
    line-height: normal;
    font-family: Roboto;
    right: 0px;
    font-size: 14px;
    border-radius: 25px 0px 0px 0px;
    bottom: 0px;
    background-color: #DF3A3E;
    padding: 8px;
    padding-top: 10px;
    padding-left: 20px;
    color: white;
    outline: none;
    cursor: copy;
    border: none;
    font-weight: 100;
    text-transform: lowercase;
}

.save_to_csv_btn:hover { 
    transition: all 0.2s ease-in-out;
    background-color: #fcd4d4;
    color: #DF3A3E;
    font-weight: 800;
    padding-left: 30px;
}
    
.save_to_csv_btn:focus {
    outline: none;
}

/* Progress Bar */
.progress.custom-progress {
    margin-bottom: 1rem;
    height: 2rem;
}


/* Other */
tbody tr:hover {
    background-color: #f7f7f7
}

.nav-link{
    color:black
}

/* Home */
.title.custom-title{
    text-align: center; 
    font-family: 'Montserrat', sans-serif; 
    font-weight:bold;
}

.header.custom-header.special-header{
    font-size:12px;
    font-family: 'Montserrat', sans-serif; 
    font-weight: bold;
    text-align: center;
    color:black;
    text-transform: uppercase;
}

.user-info.custom-user-info{
    font-size:14px !important;
    font-family: 'Lato', sans-serif!important;
    vertical-align: middle!important;
    
}


/* override material */
#filter-form span.bmd-form-group {
    padding: 0;
}

#filter-form span.bmd-form-group select {
    width: 200px;
}

/* Loading/Spinner */
 #spinner {
    margin: auto;
    width: 250px;
    height: 250px;
    display: none;
    opacity: 0.7;
    /* position: absolute; */
    z-index: 100;
    
    /* cursor: wait; */
}


/* Verified Button */
.verified-badge {
    max-width: 25px;
}


#verified-button {
    display: none;
}

.unchecked {
    opacity: 0.2;
}


/* Pagination */
.current-page {
    background-color: #DE3A3E!important;
    color: white!important;
}

.other-pages {
    color: #DE3A3E!important;
    border: none!important;
    background-color: #f3f3f3!important;
}

.custom-button {
    background-color: #DE3A3E!important;
    color: white!important;
}

.custom-button:hover {
    transition: all 0.2s ease-in-out!important;;
    background-color: #fcd4d4!important;
    color: #DF3A3E!important;
}


.bg-image {
    background-image: url("./images/splash-screen.jpg");
    z-index: 99!important;
    background-size: cover!important;
}


.splash-head {
    max-width: 720px!important;
    padding-top: 140px!important;
    margin: auto;
}

.splash-h1 {
    color: #DE3A3E!important;
    text-align: center;
    font-family: 'Montserrat', sans-serif; 
    font-weight:bold;
    text-transform: uppercase;
    font-size: 4em;
}

.splash-h2 {
    color: #DE3A3E!important;
    font-family: 'Roboto', sans-serif; 
    font-weight: 200!important;
    text-align: center;
    font-size: 2.1em;
    padding-top: 13px;
    padding-bottom: 30px;
    letter-spacing: 2px;
}

.splash-custom-button {
    background-color: #DE3A3E!important;
    color: white!important;
    border-radius: 20px;
    font-size: 20px;
}

.splash-custom-button:hover {
    transition: all 0.2s ease-in-out!important;;
    background-color: #EFF2F7!important;
    color: #DF3A3E!important;
}

.progress.bg-white {
    background-color: #ffee93!important;
}



.nav-item:hover {
    background-color: #EFF2F7;
    border-radius: 10px;
}

