/* Save to CSV Button */
.save_to_csv_btn {
    transition: all 0.2s ease-in-out;
    position: fixed;
    line-height: normal;
    font-family: Roboto;
    right: 0px;
    font-size: 14px;
    border-radius: 25px 0px 0px 0px;
    bottom: 0px;
    background-color: #DF3A3E;
    padding: 8px;
    padding-top: 10px;
    padding-left: 20px;
    color: white;
    outline: none;
    cursor: copy;
    border: none;
    font-weight: 100;
    text-transform: lowercase;
}

.save_to_csv_btn:hover { 
    transition: all 0.2s ease-in-out;
    background-color: #fcd4d4;
    color: #DF3A3E;
    font-weight: 800;
    padding-left: 30px;
}
    
.save_to_csv_btn:focus {
    outline: none;
}

/* Progress Bar */
.progress {
    margin-bottom: 1rem;
}


/* Other */
tbody tr:hover {
    background-color: #f7f7f7
}

.nav-link{
    color:black
}