{% extends "_layout.html" %}

{% block content%}
<div class=container>
    <br />

    <h1 class="text-center" style="font-family: 'Montserrat', sans-serif; font-weight: bold">ABOUT US</h1><br />

    <p style="font-family: 'Lato', sans-serif; font-size:20px; text-align: justify;">
        We are the NEXTHUSTLERS, a team of individuals with a diverse background ranging from telco, accounting &
        finance, business and designing! We have come together to NEXT Academy with a passion to learn how to code and
        use this skill to make the world a better place.
    </p>
</div>

{% endblock %}