{% extends "_layout.html" %}

{% block content%}

<div class="container">
  <div class="mt-3">

    <h1 class="title custom-title">TWEETFLUENCER</h1><br />

    <div id="filter-form" class="d-flex justify-content-center mt-3">
      <form class="form-inline" method="GET">
        <input id='selected-users-input' type="hidden" name="selectedUsers" value="" />

        <div class="form-check">
          <label class="form-check-label" for="exampleCheck1">Verified</label>
          <input name="verified" type="checkbox" class="form-check-input" id="exampleCheck1">

        </div>

        &NonBreakingSpace;
        &NonBreakingSpace;
        &NonBreakingSpace;

        <!-- input field for hashtags -->
        <div>
          <label class="sr-only" for="inlineFormInputName2">Name</label>
          <input name="seedWord" type="text" class="form-control" id="inlineFormInputName2" placeholder="Product Name">
        </div>

        &NonBreakingSpace;
        &NonBreakingSpace;
        &NonBreakingSpace;

        <div>
          <label class="sr-only" for="inlineFormInputName2">Name</label>
          <input name="city" type="text" class="form-control" id="inlineFormInputName2" placeholder="City">
        </div>

        <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>

        <select name="followers" class="custom-select ml-2" id="inlineFormCustomSelectPref">
          <option selected value="">Followers</option>
          <option value="1">
            < 50 </option> <option value="2"> 50 - 80
          </option>
          <option value="3"> 81 - 100</option>
          <option value="4"> >100 </option>
        </select>

        <button type="submit" class="btn btn-dark ml-2" onclick="loading();">Search</button>

        <a href="{url_for('index')}"><button class="btn btn-danger ml-2">Reset Filters</button></a>
      </form>
    </div>

    <div id='form-argument' class="text-center">
      {% if request.args.get('city') or request.args.get('seedWord') %}
      <p>
        <small>
          Results for
          "{{ request.args.get('seedWord') }}{{ request.args.get('city') }}{{ request.args.get('followers') }}"
        </small>
      </p>
      {% else %}
      <p><small class="d-none">Pick a city</small></p>
      {% endif %}
    </div>

    <!-- SPINNER -->
    <div id="loading"></div>

    <!-- Get user ID from Checkbox -->


    <table class="table">
      <thead>
        <tr>

          <th class="header custom-header special-header" scope="col"></th>
          <th class="header custom-header special-header" scope="col">Username</th>
          <th class="header custom-header special-header" scope="col">Profile Photo</th>
          <th class="header custom-header special-header" scope="col">Followers</th>
          <th class="header custom-header special-header" scope="col">Following</th>
          <th class="header custom-header special-header" scope="col">Location</th>
          <th class="header custom-header special-header" scope="col">Hashtags</th>

          <!-- <th class="text-center" scope="col">Hashtag</th> -->
          <!-- <th scope="col">Handle</th> -->
        </tr>
      </thead>

      <tbody>
        {% for user in users.items %}
        <!-- Modal -->
        <div class="modal fade" id="user-modal-{{user.id}}" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content" style="max-height: 90vh; overflow-y: scroll;">
              <div class="modal-header">
                <!-- <h5 class="modal-title"> -->
                <!-- <div class="row"> -->
                <div class="col-3">
                  <h4>Hashtags</h4>
                </div>
                <div class="col-8">
                  <h4 class="text-center">Frequency</h4><br />
                </div>
                <!-- </div> -->
                <!-- </h5> -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <ul class="pr-3 pl-3 pb-3">
                {% set tags = [] %}
                {% for tweet in user.tweets %}
                {% for hashtag in tweet.hashtags %}
                {% if tags.append(hashtag.hashtag) %}{% endif %}
                {% endfor %}
                {% endfor %}

                {% set frequency = [] %}
                {% for tag in tags %}
                {% if frequency.append(tags.count(tag)) %}{% endif %}
                {% endfor %}

                <!-- {{frequency}}
                        {{ frequency | max }} -->



                {% if tags %}

                <div class="container">

                  {% for tag in tags %}

                  <div class="row">
                    <div class="col-5">
                      <a class="user-info custom-user-info text-info" target="blank"
                        href="https://twitter.com/hashtag/{{tag}}" for="keyword">#{{tag}}</a>
                    </div>
                    <div class="col-7">
                      <div class="progress custom-progress">
                        <div class="progress-bar bg-info" role="progressbar"
                          style="width: {{ tags.count(tag)/13 * 100 }}%" aria-valuemin="0" aria-valuemax="100">
                          {{tags.count(tag)}}</div>
                      </div>
                    </div>
                  </div>

                  {% endfor %}
                </div>

                {% endif %}

              </ul>
            </div>
          </div>
        </div>
        <!-- end modal -->

        <tr class="text-center text-dark" onclick=checkBox(event)>

          <td>
            <div id="{{ user.id }}">
              <label><input onclick=checkBox(event) class="checkbox" type="checkbox"
                  value="{{ user.screen_name,user.full_name,user.followers_count,user.friends_count,user.profile_created_at,user.protected }}"></label>

            </div>
          </td>



          <td> <a class="user-info custom-user-info text-info" href="https://twitter.com/{{ user.screen_name }}"
              target="_blank">{{ user.screen_name }} </a></td>
          <!-- Profile Photo Check/Display-->
          {% if user.profile_image_url %}
          <td class="text-center "> <a href="https://twitter.com/{{ user.screen_name }}" target="_blank"><img
                class="rounded-circle" src="{{ user.profile_image_url }}"></a></td>
          {% else %}
          <td class="text-center">
            <p>n/a</p>
          </td>
          {% endif%}

          <td class="user-info custom-user-info">{{ user.followers_count}}</td>
          <td class="user-info custom-user-info">{{ user.friends_count}}</td>
          <td class="user-info custom-user-info"> {{ user.location }}</td>


          <td>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#user-modal-{{user.id}}">
              View More Info
            </button>
          </td>

        </tr>

        {% endfor %}
      </tbody>
    </table>

    <div id="footer" class=text-center>
      <p>Total results: {{ users.total }} </p>
      {% for page_num in users.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
      {% if users.page == page_num %}
      <a class="btn btn-secondary mb-4" href="{{ url_for('index', page=page_num) }}">{{ page_num }} </a>
      {% else %}
      <a class="btn btn-outline-secondary mb-4" href="{{ url_for('index', page=page_num) }}">{{ page_num }}</a>
      {% endif %}
      {% else %}
      ...
      {% endif %}
      {% endfor %}
    </div>

    <div>
      <a href="" onclick="getValue();exportCSV()"><button class="save_to_csv_btn" id="save_to_csv_btn">Save to
          CSV</button></a>
    </div>


  </div>

  <script>

    document.getElementById("save_to_csv_btn").addEventListener("click", function (event) {
      event.preventDefault()
    });

    // FORMAT DATA FROM CHECKBOXES
    const objectToCsv = function (selectedUsers) {
      const csvRows = [];

      // get the headers
      const headers = Object.keys(selectedUsers[0]);
      csvRows.push(headers.join(','));
      //console.log(csvRows);

      // loop over the rows
      for (const row of selectedUsers) {
        const values = headers.map(header => {

          // form escaped comma separated values
          const escaped = ('' + row[header]).replace(/"/g, '\\"');
          return `"${escaped}"`;
        });
        csvRows.push(values.join(','));
      }
      return csvRows.join('\n');
    };

    // DOWNLOAD CSV
    const download = function (selectedUsers) {
      const blob = new Blob([selectedUsers], { type: 'text/csv' });
      const url = window.URL.createObjectURL(blob);
      const a = document.createElement('a');
      a.setAttribute('hidden', '');
      a.setAttribute('href', url);
      a.setAttribute('download', 'selected_users.csv');
      document.body.appendChild(a);
      a.click();
      document.body.removeChild();
    };

    const selectedUsers = []
    // GET VALUE FROM SELECTED CHECKBOXES
    function getValue() {
      // const checkbox_array = document.getElementsByClassName('checkbox');

      // for (i = 0; i < checkbox_array.length; i++) {
      //   if (checkbox_array[i].checked === true) {
      //     let val = checkbox_array[i].value
      //     val = val.replace(/[()' ]/g, "").split(",")

      //     selectedUsers.push({
      //       username: val[0],
      //       full_name: val[1],
      //       followers_count: val[2],
      //       friends_count: val[3],
      //       profile_created_at: val[4].replace('datetime.datetime', ""),
      //       //protected: val[5]

      //     })
      //   }
      // }
      const csvData = objectToCsv(selectedUsers);
      download(csvData);


      // send selected users back to backend for similarity processing
      // $.ajax({
      //   url: '/',
      //   data: { selectedUsers: selectedUsers },
      //   method: 'POST',
      //   headers: {
      //     'Content-Type': 'application/json'
      //   }
      // });

    };
    
    // CHECKBOX TOGGLE
    function checkBox(e) {
      // do nothing and exit function if click on button
      if (e.target.type == 'button') return

      const clickedCheckbox = e.target.parentNode.querySelector('.checkbox')
      
      // Toggle HTML tick
      clickedCheckbox.checked = !clickedCheckbox.checked

      // Get checkbox value
      const val = clickedCheckbox.value.replace(/[()' ]/g, "").split(",")
      selectedUsers.push({
        username: val[0],
        full_name: val[1],
        followers_count: val[2],
        friends_count: val[3],
        profile_created_at: val[4].replace('datetime.datetime', ""),
        //protected: val[5]
      })

      $("#selected-users-input").val(JSON.stringify(selectedUsers.map(u => u.username)))
    }

    // LOADER LOGIC
    function loading() {
      $("#loading").show();
      $("#form-argument").hide();
      $(".table").hide();
      $("#footer").hide();

    }

  </script>

  <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->



  {% endblock %}