{% extends "_layout.html" %}

{% block content%}

<div class="container">
  <div class="mt-3">

    <h1 class="title custom-title">SEARCH USERS</h1><br />
    
    
    <div id="filter-form" class="d-flex justify-content-center mt-3">
      <form class="form-inline" method="GET">
        <input id='selected-users-input' type="hidden" name="selectedUsers" value="" />

        <div class="form-check">
          <label for="verified-button" class="verified-button" for="exampleCheck1"><img class="verified-badge unchecked" src="{{ url_for('static', filename='images/verified-badge.png') }}"></label>
          <input id="verified-button" name="verified" type="checkbox" class="form-check-input" id="exampleCheck1">
          
        </div>

        &NonBreakingSpace;
        &NonBreakingSpace;
        &NonBreakingSpace;

        <!-- input field for hashtags -->
        <div>
          <label class="sr-only" for="inlineFormInputName2">Name</label>
          <input name="seedWord" type="text" class="form-control" id="inlineFormInputName2" placeholder="Product Name">
        </div>

        &NonBreakingSpace;
        &NonBreakingSpace;
        &NonBreakingSpace;

        <div>
          <label class="sr-only" for="inlineFormInputName2">Name</label>
          <input name="city" type="text" class="form-control" id="inlineFormInputName2" placeholder="City">
        </div>

        <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>

        <select name="followers" class="custom-select ml-2" id="followers-filter-tab">
          <option selected value="">Followers</option>
          <option value="1"> Below 1000 </option> 
          <option value="2"> 1000 - 25 000 </option>
          <option value="3"> 25 000 - 100 000</option>
          <option value="4"> More than 100 000 </option>
        </select>

        <button type="submit" class="btn btn-dark ml-2" onclick="loading();">Search</button>

        <a href="{url_for('index')}"><button class="btn btn-danger ml-2">Reset Filters</button></a>
      </form>
    </div>

    <div id='form-argument' class="result-number text-center ">
      {% if request.args.get('city') or request.args.get('seedWord') %}
      <p>
        <small>
          Total {{ users.total }} for
          "{{ request.args.get('seedWord') }}{{ request.args.get('city') }}{{ request.args.get('followers') }}"
        </small>
      </p>
      
      {% else %}
      <p><small>Total {{ users.total }} results. </small></p>    
      {% endif %}
    </div>

    <!-- SPINNER -->

    <div class="text-center">
      <div id="spinner">
        <div  class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>


    <!-- Get user ID from Checkbox -->
    <table class="table">
      <thead>
        <tr>

          <th class="header custom-header special-header" scope="col"></th>
          <th class="header custom-header special-header text-left" scope="col">Username</th>
          <th class="header custom-header special-header" scope="col">Profile Photo</th>
          <th class="header custom-header special-header text-left" scope="col">Followers</th>
          <th class="header custom-header special-header text-left" scope="col">Following</th>
          <th class="header custom-header special-header text-right" scope="col">Location</th>
          <th class="header custom-header special-header" scope="col">Hashtags</th>

          <!-- <th class="text-center" scope="col">Hashtag</th> -->
          <!-- <th scope="col">Handle</th> -->
        </tr>
     
        
      </thead>

      <tbody>
        {% for user in users.items %}
        
        <!-- Modal -->
        <div class="modal fade" id="user-modal-{{user.id}}" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-centered" style="max-width:90vw; " role="document">
            <div class="modal-content" style="max-height: 90vh; overflow-y: scroll;">
              <div class="modal-header">
                <!-- <h5 class="modal-title"> -->
                <!-- <div class="row"> -->
                <div class="col-3 ml-5">
                  <h4 class="header custom-header special-header text-left" style="font-size:30px;"><u>Hashtags</u></h4>
                </div>
                <div class="col-6 ml-2">
                  <h4 class="header custom-header special-header text-center" style="font-size:30px;"><u>Tweets</u></h4>
                  <br />
                </div>
                <!-- </div> -->
                <!-- </h5> -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              
              <ul class="pr-3 pl-3 pb-3">

                {% set tags = [] %}
                  {% for tweet in user.tweets %}
                    {% for hashtag in tweet.hashtags %}
                      {% if tags.append(hashtag.hashtag) %}{% endif %}
                    {% endfor %}
                  {% endfor %}

                {% set frequency = [] %}
                
                {% for tag in tags %}
                  {% if frequency.append(tags.count(tag)) %}{% endif %}
                {% endfor %}

                {% set finaltweets = [] %}
                {% for text in user.tweets %}
                {% if finaltweets.append(text.tweet_text) %}{% endif %}
                {% endfor %}



                <!-- {{frequency}}
                        {{ frequency | max }} -->




                <div class="container">


                  <div class="row">

                    <div class="col-6">
                      {% if tags %}
                      {% for tag in tags %}
                      <a class="user-info custom-user-info text-info" target="blank"
                        href="https://twitter.com/hashtag/{{tag}}" for="keyword">#{{tag}}</a>

                      <div class="progress custom-progress">
                        <div class="progress-bar bg-info" role="progressbar"
                          style="width: {{ tags.count(tag)/13 * 100 }}%" aria-valuemin="0" aria-valuemax="100">
                          {{tags.count(tag)}}</div>
                      </div>
                      {% endfor %}
                      {% endif %}
                    </div>



                    <div class="col-6">
                      {% for finaltweet in finaltweets %}
                      <div class="user-info custom-user-info">{{finaltweet}}</div><br />
                      {% endfor %}
                    </div>

                  </div>

                </div>


              </ul>
            </div>
          </div>
        </div>
        <!-- end modal -->

        
        
        
        <!-- TABLE DATA STARTS HERE -->
        <!-- <tr class="text-left text-dark" onclick=checkBox(event)> -->
          <tr class=" text-center text-dark" onclick=checkBox(event)>

          <td class="row-align-middle">
            <div id="{{ user.id }}">
              <label><input onclick=checkBox(event) class="checkbox" type="checkbox"
                  value="{{ user.screen_name,user.full_name,user.followers_count,user.friends_count,user.profile_created_at,user.protected }}"></label>
            </div>
          </td>


          <!-- RESULTS: Users names -->
          <td class="text-left row-align-middle">
            {% if user.verified %}
              <a class="user-info custom-user-info text-info" href="https://twitter.com/{{ user.screen_name }}"
                target="_blank">{{ user.screen_name }} 
              </a>
              <img class="verified-badge" src="{{ url_for('static', filename='images/verified-badge.png') }}">

            {% else %}
              <a class="user-info custom-user-info text-info" href="https://twitter.com/{{ user.screen_name }}"
                target="_blank">{{ user.screen_name }} 
              </a>
            {% endif %}
         
          </td>
          
          
          <!-- Profile Photo Check/Display-->
          {% if user.profile_image_url %}
            <td class="text-center "> 
              <a href="https://twitter.com/{{ user.screen_name }}" target="_blank">
                <img class="rounded-circle" src="{{ user.profile_image_url }}">
              </a>
            </td>
          {% else %}
            <td class="text-center">
              <p>n/a</p>
            </td>
          {% endif%}

          <td class="user-info custom-user-info">{{ user.followers_count}}</td>
          <td class="user-info custom-user-info">{{ user.friends_count}}</td>
          <td class="user-info custom-user-info text-right"> {{ user.location }}</td>


          <td>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#user-modal-{{user.id}}">
              View More Info
            </button>
          </td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
      

  <!-- FOOTER -->
  <!-- <div id='form-argument' class="result-number text-center ">
      {% if request.args.get('city') or request.args.get('seedWord') %}
      <p>
        <small>
          Total {{ users.total }} for
          "{{ request.args.get('seedWord') }}{{ request.args.get('city') }}{{ request.args.get('followers') }}"
        </small>
      </p>
      
      {% else %}
      <p><small>Total {{ users.total }} results. </small></p>    
      {% endif %}
    </div> -->
    
    <!-- PAGINATION -->
    <div id="footer" class=text-center>
      {% for page_num in users.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
          {% if users.page == page_num %}
            <a class="btn mb-4 current-page" href="{{ url_for('index', page=page_num) }}">{{ page_num }} </a>
          {% else %}
            <a class="btn mb-4 other-pages" href="{{ url_for('index', page=page_num) }}">{{ page_num }}</a>
          {% endif %}
        {% else %}
      
        {% endif %}
      {% endfor %}
    </div>

    <div>
      <a href="" onclick="getValue();exportCSV()"><button class="save_to_csv_btn" id="save_to_csv_btn">Save to
          CSV</button></a>
    </div>


  </div>




  <script>

    document.getElementById("save_to_csv_btn").addEventListener("click", function (event) {
      event.preventDefault()
    });


    // FORMAT DATA FROM CHECKBOXES
    const objectToCsv = function (selectedUsers) {
      const csvRows = [];

      // get the headers
      const headers = Object.keys(selectedUsers[0]);
      csvRows.push(headers.join(','));
      //console.log(csvRows);

      // loop over the rows
      for (const row of selectedUsers) {
        const values = headers.map(header => {

          // form escaped comma separated values
          const escaped = ('' + row[header]).replace(/"/g, '\\"');
          return `"${escaped}"`;
        });
        csvRows.push(values.join(','));
      }
      return csvRows.join('\n');
    };

    // DOWNLOAD CSV
    const download = function (selectedUsers) {
      const blob = new Blob([selectedUsers], { type: 'text/csv' });
      const url = window.URL.createObjectURL(blob);
      const a = document.createElement('a');
      a.setAttribute('hidden', '');
      a.setAttribute('href', url);
      a.setAttribute('download', 'selected_users.csv');
      document.body.appendChild(a);
      a.click();
      document.body.removeChild();
    };

    const selectedUsers = []
    // GET VALUE FROM SELECTED CHECKBOXES
    function getValue() {
      // const checkbox_array = document.getElementsByClassName('checkbox');

      // for (i = 0; i < checkbox_array.length; i++) {
      //   if (checkbox_array[i].checked === true) {
      //     let val = checkbox_array[i].value
      //     val = val.replace(/[()' ]/g, "").split(",")

      //     selectedUsers.push({
      //       username: val[0],
      //       full_name: val[1],
      //       followers_count: val[2],
      //       friends_count: val[3],
      //       profile_created_at: val[4].replace('datetime.datetime', ""),
      //       //protected: val[5]

      //     })
      //   }
      // }
      const csvData = objectToCsv(selectedUsers);
      download(csvData);
    };


    // CHECKBOX TOGGLE
    function checkBox(e) {
      // do nothing and exit function if click on button
      if (e.target.type == 'button') return

      const clickedCheckbox = e.target.parentNode.querySelector('.checkbox')
      
      // Toggle HTML tick
      clickedCheckbox.checked = !clickedCheckbox.checked

      // Get checkbox value
      const val = clickedCheckbox.value.replace(/[()' ]/g, "").split(",")
      selectedUsers.push({
        username: val[0],
        full_name: val[1],
        followers_count: val[2],
        friends_count: val[3],
        profile_created_at: val[4].replace('datetime.datetime', ""),
        //protected: val[5]
      })

      $("#selected-users-input").val(JSON.stringify(selectedUsers.map(u => u.username)))
    }

    // VERIFIED BADGE FILTER OPACITY
    const verifiedCheckBox = document.getElementById('verified-button')
    const verifiedImage = document.querySelector('.verified-badge')

    verifiedCheckBox.addEventListener('click', toggleVerified)


    function toggleVerified(e){
      if(e.target.checked){
        verifiedImage.classList.remove('unchecked')
      } else {
        verifiedImage.classList.add('unchecked')
      }
    }


  </script>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <script>
    // LOADER LOGIC
    function loading() {
      $("#spinner").show();
      $("#form-argument").hide();
      $(".table").hide();
      $("#footer").hide();
    }
  </script>

  {% endblock %}