{% extends "_layout.html" %}

{% block content%}

<div class="container">
  <div class="mt-3">
    <h1 style="text-align: center; font-family: 'Montserrat', sans-serif; font-weight:bold;">TWEETFLUENCER</h1><br />

    <div class="d-flex justify-content-center mt-3">
      <form class="form-inline" method="get">
        
        <div class="form-check">
          <label class="form-check-label" for="exampleCheck1">Verified</label>
          <input name="verified" type="checkbox" class="form-check-input" id="exampleCheck1">
          
        </div>
        
        <div>
          <label class="sr-only" for="inlineFormInputName2">Name</label>
          <input name="city" type="text" class="form-control" id="inlineFormInputName2" placeholder="City">
        </div>

        <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>

        <select name="followers" class="custom-select ml-2" id="inlineFormCustomSelectPref">
          <option selected value="">Followers...</option>
          <option value="1">
            < 50 </option> <option value="2"> 50 - 80
          </option>
          <option value="3"> 81 - 100</option>
          <option value="4"> 100 < </option> </select> <button type="submit" class="btn btn-dark ml-2">
              Search</button>
              <a href="{url_for('index')}"><button class="btn btn-danger ml-2">Reset Filters</button></a>
      </form>
    </div>
    <div class="text-center">
      {% if request.args.get('city') %}
      <p><small>Results for {{ request.args.get('city') }} {{ request.args.get('followers') }}</small></p>
      {% else %}
      <p><small class="d-none">Pick a city</small></p>
      {% endif %}
    </div>

    <!-- Get user ID from Checkbox -->


    <table class="table">
      <thead>
        <tr>
          <!-- <th scope="col">#</th> -->
          <th class="text-center text-dark" scope="col"></th>
          <th class="text-center text-dark" style="font-size:20px;font-family: 'Raleway', sans-serif; font-weight:bold;"
            scope="col">
            Username
          </th>
          
          <th class="text-center text-dark" style="font-size:20px;font-family: 'Raleway', sans-serif; font-weight:bold;"
            scope="col">
            Profile Photo</th>
          <th class="text-center text-dark" style="font-size:20px;font-family: 'Raleway', sans-serif; font-weight:bold;"
            scope="col">
            Followers
          </th>
          <th class="text-center text-dark" style="font-size:20px;font-family: 'Raleway', sans-serif; font-weight:bold;"
            scope="col">
            Following
          </th>
          <th class="text-center text-dark" style="font-size:20px;font-family: 'Raleway', sans-serif; font-weight:bold;"
            scope="col">
            Location
          </th>
          <th class="text-center text-dark" style="font-size:20px;font-family: 'Raleway', sans-serif; font-weight:bold;"
            scope="col">
            Hashtags
          </th>

          <!-- <th class="text-center" scope="col">Hashtag</th> -->
          <!-- <th scope="col">Handle</th> -->
        </tr>
      </thead>

      <tbody>
        {% for user in users.items %}
        <tr class="text-center text-dark" onclick = checkBox(event)>
         
          <td>
            <div id="{{ user.id }}">
              <label><input onclick=checkBox(event) class="checkbox" type="checkbox"
                  value="{{ user.screen_name,user.full_name,user.followers_count,user.friends_count,user.profile_created_at,user.protected }}"></label>

            </div>
          </td>



          <td> <a class="text-info" style="font-size:20px;font-family: 'Lato', sans-serif;"
              href="https://twitter.com/{{ user.screen_name }}" target="_blank">{{ user.screen_name }} </a></td>
          <!-- Profile Photo Check/Display-->
          {% if user.profile_image_url %}
          <td class="text-center "> <a href="https://twitter.com/{{ user.screen_name }}" target="_blank"><img
                class="rounded-circle" style="height:100px;" src="{{ user.profile_image_url }}"></a></td>
          {% else %}
          <td class="text-center">
            <p>n/a</p>
          </td>
          {% endif%}

          <td style="font-size:20px;font-family: 'Lato', sans-serif;">{{ user.followers_count}}</td>
          <td style="font-size:20px;font-family: 'Lato', sans-serif;">{{ user.friends_count}}</td>
          <td style="font-size:20px;font-family: 'Lato', sans-serif;"> {{ user.location }}</td>


          <td>
            <ul>
              {% set tags = [] %}
              {% for tweet in user.tweets %}
              {% for hashtag in tweet.hashtags %}
              {% if tags.append(hashtag.hashtag) %}{% endif %}
              {% endfor %}
              {% endfor %}

              {% set frequency = [] %}
              {% for tag in tags %}
              {% if frequency.append(tags.count(tag)) %}{% endif %}
              {% endfor %}

              <!-- {{frequency}}
            {{ frequency | max }} -->



              {% if tags %}
              <div class="container">
                <div class="row">
                  <div class="col-3">
                    <h6>Hashtags</h6>
                  </div>
                  <div class="col-9">
                    <h6>Frequency</h6>
                  </div>
                </div>
                {% for tag in tags %}
                {% if loop.index <=5 %}
                <div class="row">
                  <div class="col-5">
                    <label for="keyword">#{{tag}}</label>
                  </div>
                  <div class="col-7">
                    <div class="progress" style="height: 2rem;">
                      <div class="progress-bar bg-primary" role="progressbar"
                        style="width: {{ tags.count(tag)/13 * 100 }}%" aria-valuemin="0" aria-valuemax="100">
                        {{tags.count(tag)}}</div>
                    </div>
                  </div>
                </div>
                {% endif %}
                {% endfor %}
              </div>

              {% endif %}

            </ul>
          </td>

        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class=text-center>
      <p>Total results: {{ users.total }} </p>
      {% for page_num in users.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
      {% if users.page == page_num %}
      <a class="btn btn-secondary mb-4" href="{{ url_for('index', page=page_num) }}">{{ page_num }} </a>
      {% else %}
      <a class="btn btn-outline-secondary mb-4" href="{{ url_for('index', page=page_num) }}">{{ page_num }}</a>
      {% endif %}
      {% else %}
      ...
      {% endif %}
      {% endfor %}
    </div>

    <div>
      <a href="" onclick="getValue();exportCSV()"><button class="save_to_csv_btn" id="save_to_csv_btn">Save to
          CSV</button></a>
    </div>


  </div>

  <script>

    document.getElementById("save_to_csv_btn").addEventListener("click", function (event) {
      event.preventDefault()
    });

    // FORMAT DATA FROM CHECKBOXES
    const objectToCsv = function(selectedUsers) {
      const csvRows = [];
      
      // get the headers
      const headers = Object.keys(selectedUsers[0]);
      csvRows.push(headers.join(','));
      //console.log(csvRows);

      // loop over the rows
      for (const row of selectedUsers) {
        const values = headers.map(header => {

          // form escaped comma separated values
          const escaped = (''+row[header]).replace(/"/g, '\\"');
          return `"${escaped}"`;
        });
        csvRows.push(values.join(','));
      }
      return csvRows.join('\n');
    };
      
    // DOWNLOAD CSV
    const download = function(selectedUsers) {
      const blob = new Blob([selectedUsers], { type: 'text/csv' });
      const url = window.URL.createObjectURL(blob);
      const a = document.createElement('a');
      a.setAttribute('hidden', '');
      a.setAttribute('href', url);
      a.setAttribute('download', 'selected_users.csv');
      document.body.appendChild(a);
      a.click();
      document.body.removeChild();
    };

     // GET VALUE FROM SELECTED CHECKBOXES
    function getValue() {
      const selectedUsers = []
      const checkbox_array = document.getElementsByClassName('checkbox');

      for (i = 0; i < checkbox_array.length; i++) {
        if (checkbox_array[i].checked === true) {
          let val = checkbox_array[i].value
          val = val.replace(/[()' ]/g, "").split(",")

          selectedUsers.push({
            username: val[0],
            full_name: val[1],
            followers_count: val[2],
            friends_count: val[3],
            profile_created_at: val[4].replace('datetime.datetime', ""),
            //protected: val[5]

          })
        }
      }
      const csvData = objectToCsv(selectedUsers);
      download(csvData);
    };
      


    // CHECKBOX TOGGLE
    function checkBox(e) {
      const clickedCheckbox = e.target.parentNode.querySelector('.checkbox')
      clickedCheckbox.checked = !clickedCheckbox.checked
    }

  </script>

  {% endblock %}
      