{% extends "_layout.html" %}

{% block content %}

<div class=container>
    <br />

    <h1 style="font-family: 'Montserrat', sans-serif; font-weight: bold">RELATED KEYWORDS</h1><br />

    <!-- {{keywords}} -->

    <form action="{{ url_for('keywords') }}" method='POST'>
        <div class="form-group">
            <label for="seedWord">Enter Word:</label>
            <input name="seedWord" type="text" class="form-control" , autocomplete="on">
        </div>
        <button type="submit" class="btn btn-info custom-button" onclick="loading();">Submit</button>
    </form>

    <p></p>
    
    <!-- SPINNER -->
    <div id="loading"></div>

    {% if keywords %}


    <div id="keyword-result" class="container">
        <div class="row">
            <div class="col-3">
                <h4>Related Keyword</h4>
            </div>
            <div class="col-9">
                <h4>Average Annual Search Volume</h4>
            </div>
        </div>
        <br />
        {% for keyword in keywords %}

        <div class="row mb-3">
            <div class="col-3">
                <label style="font-size:20px;font-family: 'Lato', sans-serif;" for="keyword">{{keyword['key']}}</label>
            </div>
            <div class="col-9">
                <div class="progress bg-white" style="height: 2rem;">
                    <div class="progress-bar bg-danger" role="progressbar"
                        style="width: {{keyword['search_volume']/max*100}}%;font-size:20px;font-family: 'Lato', sans-serif;"
                        aria-valuemin="0" aria-valuemax="100">
                        {{"{:,}".format(keyword['search_volume'])}}</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {% endif %}

</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <script type="text/javascript">
    function loading() {
      $("#loading").show();
      $("#keyword-result").hide();
    }
  </script>
{% endblock %}